@import-normalize; /* bring in normalize.css styles */

:root {
  --home-card-main: rgba(0, 0, 0, 0.87);
  --home-card-secondary: rgba(0, 0, 0, 0.6);
  --input-color: rgba(0, 0, 0, 0.5);

  --char-primary-color: #081f32;
  --char-secondary-color: #8e8e93;
  --char-features-color: #6e798c;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  /* box-sizing: content-box; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-link {
  display: flex;
  justify-content: center;
}

.logo {
  width: 400px;
}

.section {
  padding-top: 61px;
  padding-bottom: 188px;
}

.home-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-list {
  width: 240px;
  background-color: #6e798c;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px 20px;
}

.home-item {
  overflow: hidden;
  /* display: block; */
  width: 240px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.item-wrap {
  padding: 12px 16px;
}

.item-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  /* letter-spacing: 0.15px; */

  color: var(--home-card-main);
}

.item-description {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;

  color: var(--home-card-secondary);
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  .header {
    padding-top: 44px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .home-list {
    width: 768px;
  }
  .header {
    padding-top: 86px;
  }
  .logo {
    width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1020px;
  }
  .home-list {
    width: 1020px;
  }
}

/* filter */

/* .filter-form {
  width: 300px;
} */

.filter-input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--input-color);
  border-radius: 8px;

  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;

  color: var(--input-color);
}

/* character page */
.character-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.character-header {
  padding-top: 21px;
  padding-bottom: 31px;
}

.back-link {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  font-family: "Karla";
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  fill: #000000;
  transition: 250ms var(--timing-function);
}

.back-link:focus,
.back-link:hover {
  color: #8e8e93;
  fill: #8e8e93;
}

.back-icon {
  padding: 4px 0 4px 4px;
}

.character-section {
  padding-bottom: 142px;
}

.character {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.character-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 16px; */
}

.image-wrap {
  overflow: hidden;
  margin-bottom: 16px;
  width: 240px;
  border-radius: 50%;
  border: 5px solid rgba(33, 33, 33, 0.08);
}

.character-image {
  width: 240px;
}

.hero-title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 48px;

  color: var(--char-primary-color);
}

.hero-description {
  margin: 48px 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.15px;

  color: var(--char-secondary-color);
}

.features-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.features-item {
  padding: 9px 16px 12px 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.features-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;

  color: var(--char-primary-color);
}

.features-subtitle {
  font-family: "Roboto";
  line-height: 1.43;
  letter-spacing: 0.25px;

  color: var(--char-features-color);
}

@media screen and (min-width: 480px) {
  /* .character-container {
    width: 480px;
  } */
  .image-wrap {
    width: 300px;
  }
  .character-image {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .character-container {
    padding-left: 50px;
    padding-right: 50px;
    /* max-width: 768px; */
  }
}

@media screen and (min-width: 1440px) {
  .character-container {
    max-width: 1440px;
  }
}
